%section.genre
  %header.clearfix
    %h1= @category.name
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
  %article.row
    -@category.videos.each do |video|
      .video.col-md-2
        = link_to (image_tag video.cover_image_url, style: "height: 235px; width: 165px;" ), video
